<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li *ngFor="let tab of tabs; let i = index" [ngClass]="{active: isTabSelected(i)}">
        <a href="#" (click)="changeSelectedTab(i)">{{ tab }}</a>
      </li>
    </ul>
  </div>
</div>
<div [ngSwitch]="selectedIndex">
  <app-servers *ngSwitchCase="0"></app-servers>
  <div *ngSwitchCase="1">
    <app-success-alert></app-success-alert>
    <app-warning-alert></app-warning-alert>
  </div>
  <app-username-interpolate *ngSwitchCase="2"></app-username-interpolate>
  <app-log-button-clicks *ngSwitchCase="3"></app-log-button-clicks>
  <app-comps-binding-deep *ngSwitchCase="4"></app-comps-binding-deep>
  <app-control *ngSwitchCase="5"></app-control>
  <app-accounts-app *ngSwitchCase="6"></app-accounts-app>
</div>
