<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li *ngFor="let tab of tabs; let i = index" [ngClass]="{active: isTabSelected(i)}">
        <a href="#" (click)="changeSelectedTab(i)">{{ tab }}</a>
      </li>
    </ul>
  </div>
</div>
<app-servers *ngIf="selectedIndex === 0"></app-servers>
<div *ngIf="selectedIndex === 1">
  <app-success-alert></app-success-alert>
  <app-warning-alert></app-warning-alert>
</div>
<app-username-interpolate *ngIf="selectedIndex === 2"></app-username-interpolate>
